@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
}
:root{
    --GREEN:#32a852;
}
body{
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
}
nav{
    display: flex;
}
nav > ul{
    list-style: none;
    margin:10px;
    display: flex;
    padding: 5px;
}
nav > ul button{
    border:none;
    background-color: white;
    font-size: 100%;
    margin-left: 10px;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

nav ul > button:hover{
    background-color:var(--GREEN);
}
#heading{
    margin: 10px;
    padding: 10px;
}
#container{
    display: flex;
}

#box{
    margin-left: 10px;
    text-align: center;
}

#array{
 display: flex;  
 margin-left: 40px; 
 transform: rotate(180deg);
}

.list-style{
    background-color:blue;
    padding: 7px;
    margin-left: 5px;    
}

#color_info{
    margin-left: 30px;
}

#color_info > table th{
    text-align: start;
}
#blue,#megenta,#green{
    display: inline-block;
    width: 20px;
    margin-top: 5px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
}

#blue{
    background-color: blue;
}

#megenta{
    background-color: darkmagenta;
}

#green{
    background-color: var(--GREEN);
}